@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Let us take care about your driveability</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Call us today: (204)123-7458</h1>
</div>
<td>
    <img class="card-img-top" src="~/img/CarDealership.jpg">
</td>
